/* Mobile layout ====
================== */ 

.hero-img-desktop,
.hero-img-tablet,
.about-img-desktop,
.about-img-tablet {
    display: none;
}

.hero-img-mobile {
    margin-top: 2.5rem;
    width: 100%;
}

.hero-text {
    font-size: 2.5rem;
    line-height: 1.05;
    letter-spacing: -0.36px;
    margin-top: 1.5rem;
    font-weight: var(--fw-bold);
}

.btn-primary-about {
    margin-top: 2rem;
}

.about-img-mobile {
    margin-top: 6rem;
    width: 100%;
    object-fit: cover;
}

.about-details {
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid var(--clr-border-gray);
    border-bottom: 1px solid var(--clr-border-gray);
}

.about-title {
    margin-bottom: 0.7em;
}

.about-text {
    margin-bottom: 1.5em;
}

.btn-secondary-about {
    margin-bottom: 3.1875rem;
}

.call-to-action {
    padding: 7.1875rem 0 5rem 0;
    text-align: center;
}

.cta-title {
    margin-bottom: 2.5rem;
}

/* Media query ===
============== */

@media (min-width: 376px) {
    .hero-img-mobile {
        display: none;
    }

    .hero-img-tablet {
        display: block;
        width: 100%;
        margin-top: 3rem;
    }
}

/* Tablet layout ====
================== */ 

@media (min-width: 768px) {

    .about-img-mobile {
        display: none;
    }

    .about-img-tablet {
        display: block;
    }

    .hero {
        position: relative;
        margin: 0 auto;
    }

    .hero-details {
        position: absolute;
        left: 0;
        bottom: 0;
        max-width: 514px;
        background: var(--clr-light-gray);
        padding-top: 3.5rem;
        padding-right: 3.5rem;
    }

    .hero-text {
        margin-top: 0;
        margin-bottom: 3rem;
        width: 90%;
    }

    .about {
        margin-top: 6rem;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    .about-details {
        width: 50%;
        margin-top: 0;
        padding-top: 3.125rem;
    }

    .about-img {
        width: 40%;
        object-fit: cover;
    }

    .btn-secondary-about {
        margin-bottom: 2.875rem;
    }

    .call-to-action {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cta-title {
        min-width: 350px;
        margin-bottom: 0;
        text-align: left;
    }

    .horizontal-line {
        height: 1px;
        width: 100%;
        background: #dcdcde;
        margin: 0 2rem;

    }

    .btn-secondary-cta {
        min-width: 162px;
        white-space: nowrap;
    }
}

/* Desktop Design ======
===================== */ 

@media (min-width: 769px) {
    .hero-img-tablet {
        display: none;
    }

    .hero-img-desktop {
        display: block;
        margin-top: 3rem;
    }
}

@media (min-width: 1024px) {
    .hero-text {
        font-size: 3.125rem;
        width: 85%;
    }

    .about-img-tablet {
        display: none;
    }

    .about {
        gap: 125px;
        justify-content: flex-start;
    }

    .about-img-desktop {
        display: block;
        width: 48%;
        object-fit: cover;
    }

    .about-details {
        max-width: 350px;
    }

}
